* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-rojo-sienna {
  background-color: #bf493a;
}
.bg-dark-blue {
  background-color: #373945;
}
.bg-ligth-dark-blue {
  background-color: #3e445a;
}
.bg-white{
  background-color: #fff;
}


.icon-box {
  height: 50px;
  width: 50px;
  background-color: #fff;
}
.first-section {
  background-color: #bf493a;
  
}
.img-store {
  width: 150px;
}
.img-cel {
  width: 200px;
}
.mobile-patch {
  flex-direction: column;
  align-items: center;
}
.color-white{
  color: white;
}

.color-black{
  color: black;
}
p {
  margin-bottom: 0;
}

.pd-5 {
  padding:25px 5vw; 
 
}
.pd-15 {
  padding: 10px;
}
.pd-side-5 {
  padding-left: 5vw;
  padding-right: 5vw; 
}


.icon-red {
  width: 50px;
  height: 50px;
  background-color: #bf493a;
}
@media (min-width: 768px) { 
  .reverse-order {
    flex-direction: row-reverse;
  }
  .pd-5 {
    /* padding: initial; */
  }
}

@media (min-width: 992px) { 


 }