* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-rojo-sienna {
  background-color: #bf493a;
}
.bg-dark-blue {
  background-color: #373945;
}
.bg-ligth-dark-blue {
  background-color: #3e445a;
}
.bg-white{
  background-color: #fff;
}


.icon-box {
  height: 50px;
  width: 50px;
  background-color: #fff;
}
.first-section {
  background-color: #bf493a;
  
}
.img-store {
  width: 150px;
}
.img-cel {
  width: 200px;
}
.mobile-patch {
  flex-direction: column;
  align-items: center;
}
.color-white{
  color: white;
}

.color-black{
  color: black;
}
p {
  margin-bottom: 0;
}

.pd-5 {
  padding:25px 5vw; 
 
}
.pd-15 {
  padding: 10px;
}
.pd-side-5 {
  padding-left: 5vw;
  padding-right: 5vw; 
}
.pd-side-5-white {
  padding-left: 5vw;
  padding-right: 5vw; 
}

.mg-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-red {
  width: 50px;
  height: 50px;
  background-color: #bf493a;
}
.pd-b-45 {
  padding-bottom: 45px;
}
.pd-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
 .fs-12 {
   font-size: 12px;
 }
 .flex-column-2 {
  flex-direction: column;
}
.mg-tb-15 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.align-items-center-2 {
  align-items: center;
}
.text-center-2 {
  text-align: center;
}
.pd-tb-30 {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) { 
  .reverse-order {
    flex-direction: row-reverse;
  }
  .pd-side-5-white {
    padding-left: 0;
    padding-right: 0; 
  }
  .heigth-100 {
    height: 400px;;
  }
  .mg-left-7 {
    margin-left: 5%;
  }
  
  .align-items-center-2 {
    align-items: initial;
  }
  .flex-column-2 {
    flex-direction: initial !important;
  }
  .text-center-2 {
    text-align: left;
  }
  .width-left-box {
    justify-content: right;
  }
  .width-box-60 {
    width: 60%;
  }
  .mr-auto {
    margin-right: auto !important;
  }
  .ml-auto-2 {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) { 


 }